# xcode noise
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*.swp
*~.nib/
build/*

# Textmate - if you build your xcode projects with it
*.tm_build_errors

# old skool
.svn

# osx noise
.DS_Store
profile
macosx/tuxracer.xcodeproj/xcuserdata/feejai.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

macosx/tuxracer.xcodeproj/project.xcworkspace/xcuserdata/feejai.xcuserdatad/UserInterfaceState.xcuserstate
